<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 {% load static %}
	<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
	<script src="{% static 'courses/js/js.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>

<body>
	<div id="wrapper">
		<div id="courses">
			<h2 align="center"><p style="color:red">
				{% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %}
			</p></h2>
		</div>
		<div id="courses">
			<table width="500" align="center" border="1">
				<tr>
					<th>Course:</th>
				</tr>
				<tr>
					<td>
						{{course.title}} -- {{description.description}}
					</td>
				</tr>
			</table>
		</div>
		<div id="courses">

			<form method="POST" action="add_comment">Comment<br>
				<textarea rows="5" cols="50" name="comment">{{comment}}</textarea> 
				{% csrf_token %}
				<input type="hidden" name="id" value="{{course.id}}">
				<input type="submit" value="Add Comment">
			</form><br>
		</div>
		{% if comments %}
		<div id="courses">
			<table width="500" align="center" border="1">
				<tr>
					<th>comments:</th>
				</tr>
				{% for x in comments %}
					<tr><td>
					{{x.comment}}	
					</td></tr>
				{% endfor %}
			</table>

		</div>
		{% endif %}
	</div>
</body>
<style>

	#courses{
		/* border: 2px solid black; */
		width:80%;
		margin: auto;
		text-align: left;
	}
</style>
</html>